.container{
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#check-box-row{

margin-left: 5%;
/* margin-right: 20%; */
width: 90%;
/* border: 1px solid skyblue;   */
}
tbody{
    padding: 10%;
}
td{
    border: 1px solid skyblue;  
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 10%;
    font-size: 70%;
    
}
.order_by{
    width: 30%;
    border: 1px solid skyblue;  
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1%;
    margin-left: 5%;
}